<%if flash[:notice]%>
  <p id="notice"><%= notice %></p>
<%end%>
<% if @article.errors.any? %>
  <%= @article.errors.full_messages%>
<% end%>
<div class = "bg-orange">
  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= @article.text %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @article.user.name %>
  </p>

</div>
<div class = " container mx-auto w-75 d-flex flex-column align-items-center">
  <% @categories.each do |category| %>
    <div class = "d-flex">
    <p class = "mx-2 bold fs-5"><%= category.name%></p>
      <% if @article.categories.include?(category)%>
        
        <%= link_to "remove", destroy_categorization_path(@article.id, category.id),class:"form-link", method: :delete   %>
      <% else %>
        <%= link_to "add",create_categorization_path(@article.id, category.id),class:"form-link"%>
      <% end %>
    </div>
  <% end %>
</div>
<%unless @article.categories.empty?%>
  <%= link_to 'Done', category_path(@article.categories.first), class: "form-link mx-5" %>
<% end %>

